*{box-sizing: border-box;
}

/* Parte Titolo */
#logo {
    height: 100%;
    vertical-align:middle;
}

#title {
    font-family: 'Roboto', sans-serif;
    display: inline;
    line-height: 100px;
    height: auto;
    vertical-align: middle;
}

/* Parte centrale */
#task {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: dodgerblue;
    text-align: center;
    border-style: solid;
    border: 1px;
    padding: 6px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: small;
}


#section1 {
    display: inline-block;
    width: auto;
    height: auto;
    border-color: grey;
    background-color: whitesmoke;
    border-style: solid;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 5px;
    color: grey;
    font-size: small;
}

#v {
    height: 100%;
    vertical-align:middle;
}

#w {
    height: 100%;
    vertical-align:middle;
}


#title1 {
    display: inline;
    line-height: 100px;
    height: auto;
    vertical-align: middle;
}
#title3 {
    display: inline-block;
    width: auto;
    height: auto;
    background-color:dodgerblue;
    border-style: solid;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 10px;
    color:whitesmoke;
    font-size:x-small;
    margin: 5px;
}

#title4 {
    display: inline-block;
    width: auto;
    height: auto;
    background-color:blueviolet;
    border-style: solid;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 10px;
    color:whitesmoke;
    font-size:x-small;
    margin: 5px;
    
}

#title5 {
    display: inline-block;
    width: auto;
    height: auto;
    background-color:yellowgreen;
    border-style: solid;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 10px;
    color:whitesmoke;
    font-size:x-small;
    margin: 5px;
    
}

#title6 {
    display: inline-block;
    width: auto;
    height: auto;
    background-color:orange;
    border-style: solid;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 10px;
    color:whitesmoke;
    font-size:x-small;
    margin: 5px;
    
}

#title8 {
    display: inline-block;
    width: auto;
    height: auto;
    background-color:plum;
    border-style: solid;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 10px;
    color:whitesmoke;
    font-size:x-small;
    margin: 5px;
    
}

#title9 {
    display: inline-block;
    width: auto;
    height: auto;
    background-color:olivedrab;
    border-style: solid;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 10px;
    color:whitesmoke;
    font-size:x-small;
    margin: 5px;
    
}

#title10 {
    display: inline-block;
    width: auto;
    height: auto;
    background-color:dodgerblue;
    border-style: solid;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 10px;
    color:whitesmoke;
    font-size:x-small;
    margin: 5px;
    
}

#linea1 {
    height: 2px;
    background-color: #f6f8f9;
    border: none;
    margin-right: -1.3cm;
    margin-left: -1.3cm;
}

/* Parte Layout */
.partesuperiore {
    background-color: white;
    
}

#contenuto
{   
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    height: fit-content;
    border-left: 200px;
    border-right: 200px;
    border-top: 50px;
    border-style:solid;
    border-color:gainsboro;

}

